#wrapper{
    width: 400px;
    background-color: #dddddd;
    border: 1px solid #000000;
    margin-left: 20px;
    padding: 10px;
}

.book-heading{
 text-align: center;   
}

.parahraph-text{
    font-size: 18px;
}